*{
    margin:0;
    padding:0;
    }
    
    body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    }
    
    body a {
        text-decoration: none;
        list-style-type: none;
    } 
    
    body a:hover {
       text-decoration: underline;
       cursor: pointer;
    }
    
    #navi {
        width: 100%;
        height: 70px;
    }
    
    nav ul li {
     padding: 30px 30px 25px 5px;
     font-weight: 300;
      float: right;
      display: inline-block;
     vertical-align: middle;
    outline:none;
    } 

    .logo {
        display: block;
        display: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 125px;
        width: 700px;
    }
    
    #container {
        width: 100%;
        max-height: 1700px;
    }
    
    .content {
        text-align: center;
    }
    
    
    
    .content p {
        margin-top: 22px;
    }
    
    .search {
        width: 400px;
        height: 45px;
        border: 1px solid #dfe1e5;
        border-radius: 25px;
        background: white;
        color: black;
        font-size: 16px;
        padding:0 100px 0 0;
    }
    
    .search:focus, .search:hover {
        outline: none;
        box-shadow: 0 1px 6px 0 #d3d3d4;
    }
    
    .searchbar {
        position: relative;
    }
    
    .searchbar .magnify, .searchbar .mic {
        position: relative;
    }
    
    .searchbar .magnify {
        left: 45px;
        width: 25px;
        top: 10px;
    }
    
    .searchbar .mic {
        height: 20px;
        width: 20px;
        right: 43px;
        top: 5px;
    }
    
    
    .buttons{
        margin-top: 25px;
    }
     
    .buttons input {
        background: rgb(242, 242, 242);
        border: 1px solid rgb(242, 242, 242);
        font-size: 14px;
        color: #5F6368;
        margin: 5px 5px;
        border-radius: 4px;
        height: 36px;
        width: 135px;
    }

    #footer {
        min-width: 980px;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #f2f2f2;
    }
    
    .top-footer {
        margin: 1px 0 0 30px;
        padding: 10px 0 10px 27px;
        color: rgb(105, 105, 105);
        border-top: 1px solid rgb(219, 219, 219);
        font-size: 15px;
    }
    
    .bottom-footer {
        border-top: 1px solid rgb(219, 219, 219);
    }
    
    .left-footer a, .right-footer a {
        display: inline-block;
        color: rgb(105, 105, 105);
        padding: 15px 0px 10px 20px;
        font-weight: 100;
    }
    
    .left-footer {
        float: left;
    }
    
    .right-footer {
        float: right;
        margin-right: 30px;
    }
    